body{
    background-color: white;
    max-width: 100vw;
}
.Inicio
{
    background-color: black;
}
.Ancho
{
    width: 30vw;
    height: 100vh;
}

.icono
{
    width: 30px !important;
    height: 40px;
}

#side_nav{
    background: rgb(236, 236, 236);
}

.content{
    min-height: 100vh;
    width: 100%
}

hr.h-color{
    background: white;
}

.colorb{
    color: white !important;
    background: #000;
    --bs-btn-color: #fff;
    --bs-btn-bg: #000;
    --bs-btn-border-color: white;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: white;
    --bs-btn-hover-border-color: white;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #0a58ca;
    --bs-btn-active-border-color: #0a53be;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #0d6efd;
    --bs-btn-disabled-border-color: #0d6efd;
}